<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}JoSa Technologies{% endblock %}</title>
    {% load static %}
    {% load humanize %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}" />
    <script src="https://fonts.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'orders/main.js' %}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'orders:index' %}">JoSa Technologies</a>
        </div>

        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                 <li class="{% block orderadd_active %}{% endblock %}">
                    <a href="{% url 'orders:add_order' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; New Order
                    </a>
                </li>
                <li class="{% block exchange_active %}{% endblock %}">
                    <a href="{% url 'orders:exchange' %}">
                        <span class="glyphicon glyphicon-random" aria-hidden="true"></span>&nbsp; Exchange
                    </a>
                </li>
                <li class="{% block portfolio_active %}{% endblock %}">
                    <a href="{% url 'orders:portfolio' %}">
                        <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>&nbsp; Portfolio
                    </a>
                </li>
                {% if fundr == 'Market' %}
                <li class="{% block orderbook_active %}{% endblock %}">
                    <a href="{% url 'orders:orderbook' %}">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp; Orderbook
                    </a>
                </li>
                <li class="{% block dealjournal_active %}{% endblock %}">
                    <a href="{% url 'orders:dealjournal' %}">
                        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>&nbsp; Dealjournal
                    </a>
                </li>
                <li class="{% block randomize_active %}{% endblock %}">
                    <a href="{% url 'orders:randomize' %}">
                        <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>&nbsp; Randomize
                    </a>
                </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'orders:logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>